#header-employees {
	position: fixed;
	width: 100%;
	top: 55px;
	left: 0;
	padding-left: 5rem;
	background-color: $body-bg;
	box-shadow: 0 2px 5px rgba(black, 0.05);
	overflow-x: auto;
	z-index: 3;
	.employee {
		display: inline-block;
		width: 280px;
		font-size: 1.1rem;
		line-height: 1.3;
		* {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&-list {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		ul {
			position: fixed;
			top: 110px;
			left: 80px;
			right: initial;
			li,
			li * {
				cursor: pointer;
			}
		}
	}
}

#main-content {
	padding: 60px 0 0 5rem;
	padding-left: 5rem;
	overflow-x: auto;
}

.employee-columns {
	min-width: 100%;
}

.employee-column {
	display: inline-block;
	width: 280px;
	.hour {
		position: relative;
		> span {
			position: absolute;
			display: block;
			width: 5rem;
			top: 0;
			left: 0;
			text-align: center;
			z-index: 2;
			transform: translate(-100%, -50%);
		}
	}
}

.slot {
	position: absolute;
	left: 0;
	width: 100%;
	border-radius: 2px;
	background-color: rgba($info, 0.25);
	transition: background-color 0.2s;
	cursor: pointer;
	z-index: 1;
	&:hover {
		min-height: 86px;
		z-index: 2;
		background-color: $info;
		.more-data {
			display: block;
		}
	}
	.more-data {
		display: none;
	}
}

#time-marker {
    position: absolute;
    width: 100vw;
    height: 2px;
    left: 0;
    background-color: gold;
    z-index: 1;
    transform: translateY(-50%); 
    &:hover {
    	span {
    		opacity: 1;
    	}
    }
    span {
        position: absolute;
        display: block;
        width: 5rem;
        top: 50%;
        left: 50%;
        text-align: center;
        opacity: 0;
        background-color: $body-bg;
        transform: translate(-50%,-50%);
        transition: opacity 0.3s;
    }
}