// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.slot {
	position: absolute;
	left: 0;
	width: 100%;
	border-radius: 2px;
	background-color: rgba($info, 0.25);
	transition: background-color 0.2s;
	cursor: pointer;
	z-index: 1;
	&:hover {
		z-index: 2;
		background-color: $info;
		.more-data {
			display: block;
		}
	}
	.more-data {
		display: none;
	}
}