// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// App
@import './today', 
		'./dashboard';

#app {
	padding-top: $header-height;
}

#main-header {
	position: fixed;
	width: 100%;
	height: $header-height;
	left: 0;
	top: 0;
	z-index: 5;
	background-color: $body-bg;
	&-nav {
		button, li {
			font-size: 0.8rem;
		}
		.dropdown-toggle {
			border-radius: 25px;
		}
		&-date {
			position: relative;
			input {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
			}
		}
	}
}

.dropdown-toggle {
	&::after {
		display: none;
	}
}

.table-responsive {
	padding: 0 60px;
}

svg.eva {
	display: block;
}